# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\1.1笔记集结\000000JAVA知识点全解\api_pytest_demo_master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
